/* common shared styles*/
body {
    
    font-family: 'Open Sans', sans-serif;
}
/*nav related styles */
nav {
    display:flex;
}
.nav-title{

    color: var(--Dark-01, #181818);
 
    font-size: 45px;
    font-weight: 800;
   

}
.text-primary{

    color: #FD6E0A;

}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border:0;
   
    font-size: 20px;
    font-weight: 700;
    padding:15px,35px;
}
/* nav related styles */
.section-title {

    color:black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    
}
.section-description {

     color: #757575;;
    text-align: center;
    font-size: 18px;       
}

nav {

    display: flex;
    justify-content: space-between ;
    align-items:center;
    margin:0 200px;
}
nav > ul {
    display:flex;
    align-items:center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#181818;
}


/* header related styles */
.header{
    background-color:whitesmoke ;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,top left;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items:center;
    justify-content:space-between ;
}
.banner-content{
    max-width: 500px;

}
.banner .profile-pic{
    width:500px;
}
.banner-greeting{
    font-size: 45px;
}
.banner-title{
    font-size:85px;
    font-weight: 700;
    margin-top:5px;
    margin-bottom:20px;

}
/* main section style */
 main{

max-width:1140px;
margin:0 auto;


 }
 main section {

margin-top:100px;

 }



/* About section style */
.about {
      padding:130px;
      border-radius:10px;
      background: #FFF8F3;
      margin:130px;

}

.about-info-container {

display:flex;
justify-content: space-around;

}
.info-description{
    gap:3px;
}

.about-info{

    text-align:center;
}
/* Skill related Style */
/* .What -i-d0-description{ */
          /* padding:30px 40px; */
    

/* } */
.skills-container{

         display:flex;
        
         gap:30px;

}
.skills{
    padding:30px;
    gap:24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {

    color: #757575;
      padding:30px;


}
/*  Resume Section Styles */

.resume-column-title{

color:#474747;
font-size: 30px;
font-weight: 700;

}
 .resume-item-title{

    color: #474747;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    

 }
 .resume-container{
  display:flex;
  justify-content: space-between;

 }
 .resume-item-institue{
    margin-bottom: 20px;
    margin-top: 0px;
 }
.resume-item-institue,.resume-item-description {

color:#757575;

}
.resume-container hr{

margin:30px;

}

.Section-title{
    text-align: center;
}
.download-cv{

    text-align: center;
    margin-top:50px;
}
/* footer style  */
footer{
    display: flex;
    gap:100px;
    background: #FFF8F3;
    padding:130px,200px;
    margin-top: 100px;
}
.footer-colum{
  width:50%;

}
.social-links a{

    margin-right: 25px;
}


.contact input[type="text"],.contact input[type="email"],textarea{

    display:block;
    margin-bottom:25px;
    padding:18px 35px;
    color:#757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width:100%;


}

/* responsive styles */
/* mobile devices */
.hide{
    display: none;
}
@media screen and (max-width:576px) {
    .header {
        background-image: none;

    }

    nav, nav >ul,.banner,.skills-container,.resume-container,.about-info-container,footer{
        flex-direction: column;
    }
    nav >ul{
        gap:5px;
    }
    .banner .profile-pic {
        width:100%;
    }
    .banner,
    #What -i-d0-description{
        padding: 20px;
    }
    footer,.about{
        padding: 10px;
    }
    .footer-colum {
        width:100%;
    }
    .btn-primary{
        margin-bottom: 15px;
    }
    .contact input[type="text"],.contact input[type="email"],textarea{

        width:80%;
    }
}
@media screen and (min-width: 576px) and (max-width:960px) {

    footer{
        padding: 30px;
    }
    .btn-primary {
        margin-bottom: 15px;
    }

}

    

